/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--main-bg-color);
  background-image: var(
    --background-image,
    url("../images/cover-image-dark.png")
  );
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  min-height: 668px;
  margin-block-end: 40px;
  padding: 10px;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 21px;
  justify-self: flex-start;
  gap: 5px;
  height: fit-content;
  margin-bottom: 41px;
  margin-inline-start: auto;
  color: var(--accent-color);
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 25px; /* 138.889% */
  text-align: center;
}

.header__rec-text {
  display: none;
  gap: 9px;
  text-transform: uppercase;
}

.header__rec-text::after {
  content: "";
  display: block;
  align-self: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

.header__theme-menu {
  display: flex;
  justify-self: flex-end;
  align-self: center;
  height: fit-content;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  justify-content: center;
  gap: 6px;
  align-self: flex-end;
  box-sizing: border-box;
}

.header__theme-menu-item {
  border: 1px solid transparent;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  padding: 3px 12px 5px;
  outline: none;
  color: var(--nav-btn-text-color, #ff0070);
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color, #ff0070);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color-hover, #ff0070);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--border-color, #ff0070);
  outline: none;
}

.header__theme-menu-button:has(:focus-visible) {
  border-bottom: 1px solid var(--border-color, #ff0070);
  outline: none;
}

.header__title {
  height: fit-content;
  color: var(--main-text-title-color, #db00ff);
  font-family: var(--main-font-family, IBM);
  font-weight: 700;
  font-size: var(
    --title-text-size,
    clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem)
  );
  font-style: normal;
  line-height: 82.5%; /* 129.525px */
  text-shadow: 4px 4px 0px var(--shadow-text-color, #ff0070);
}

.header__description {
  justify-self: flex-end;
  align-self: center;
  height: max-content;
  color: var(--card-title-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
  background: var(--accent-color, #ff0070);
}

.deccorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-inline-end: 1px solid var(--border-color, #ff0070);
  border-block-start: 1px solid var(--border-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.deccorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--border-color, #ff0070);
  border-block-end: 1px solid var(--border-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.content-section {
  margin-block-end: 50px;
  padding: 0 10px;
}

.lots {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lots__card-list {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-flow: row dense;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lots__header {
  color: var(--title-text-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
}

.card__title {
  color: var(--card-title-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
  background-color: var(--accent-color);
}

.card__title-slim {
  font-weight: 400;
}

.card__text {
  color: var(--card-content-text-color);
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
}

.lots-images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 10px;
  margin-block-end: 40px;
  padding: 0 10px;
}

.lots-images__item {
  display: block;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.theme_light .header__rec-text {
  display: none;
}

.theme_dark .header__rec-text {
  display: flex;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--text-link-color, #ff0070);
}

.text-link:hover {
  border-bottom: 1px solid var(--text-decoration-color, #ff0070);
  outline: none;
}

.text-link:focus {
  outline: 1px solid var(--text-decoration-color, #ff0070);
}

.text-link:has(:focus-visible) {
  outline: 1px solid var(--text-decoration-color, #ff0070);
}

.content-section-advice__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading__title-footer {
  margin: auto;
  text-align: center;
  text-shadow: 2px 2px 0px var(--shadow-text-color);
}

@media (width >= 768px) {
  .header {
    width: 100%;
    margin-bottom: 60px;
    padding: 20px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: 120px;
  }

  .header__description {
    display: block;
    align-self: center;
    width: 50%;
  }

  .header__rec {
    top: 20px;
    right: 30px;
    gap: 5px;
  }
  
  .header__theme-menu-list {
    justify-content: space-between;
    gap: 6px;
  }

  .header__theme-menu-button {
    padding: 2px 12px 5px;
  }

  .deccorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .deccorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .content-section {
    margin-block-end: 70px;
    padding: 0 20px;
  }

  .lots {
    flex-direction: row;
  }

  .lots:not(.content-section-alternative) {
    gap: 30px;
  }

  .lots__header {
    min-width: 31%;
  }

  .content-section-alternative {
    flex-direction: column;
  }

  .content-section-alternative .lots__header {
    max-width: 30%;
    padding-top: 10px;
  }

  .card__title {
    min-width: 60%;
    height: fit-content;
  }

  .content-section-advice {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr min-content;
    gap: 20px;
    margin-block-end: 60px;
    padding-top: 10px;
  }

  .lots.content-section-advice {
    gap: 20px;
  }

  .lots-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "header header header"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
    margin-bottom: 60px;
    padding: 0 20px;
    overflow: hidden;
  }

  .lots-images__item {
    min-height: 100%;
    object-fit: cover;
  }

  .lots-images .card__title {
    grid-area: header;
  }

  .lots-images__item-sunset {
    grid-area: sunset;
  }

  .lots-images__item-ice-cream {
    grid-area: ice-cream;
  }

  .lots-images__item-tape {
    grid-area: tape;
  }

  .lots-images__item-books {
    grid-area: books;
  }

  .lots-images__item-street {
    grid-area: street;
  }

  .footer {
    padding: 20px 20px;
  }

  .heading__title-footer {
    margin: auto;
  }
}

@media (orientation: landscape) and (width >= 768px) {
  body {
    max-inline-size: 100%;
  }

  .header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    align-items: start;
  }

  .header__description {
    justify-self: flex-end;
    align-self: center;
    margin: 0;
  }

  .header__rec {
    top: 20px;
    right: 30px;
    gap: 5px;
  }

  .header__theme-menu {
    display: flex;
    justify-self: center;
    justify-content: space-around;
    gap: 0;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 0;
  }

  .header__theme-menu-button {
    padding: 0px 12px 3px;
    padding-top: 0;
    padding-bottom: 3px;
  }


  .header__theme-menu-item {
    box-sizing: border-box;
    padding: 1px 4px;
  }

  .header__title {
    justify-self: start;
    align-self: start;
    font-size: var(
      --title-text-size,
      clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem)
    );
    text-align: start;
  }

  .content-section-alternative .lots__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 19px;
  }

  .lots.content-section-advice {
    gap: 10px;
  }

  .content-section-alternative .card {
    width: 32%;
  }

  .content-section-advice {
    gap: 10px;
    margin-block-end: 70px;
  }

  .heading__title-footer {
    margin: auto;
  }
}
